<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
    <%- include('navbar', { user }); %>
    <div>
      <% if (user && user.id === userId) {%>
      <div>
        <a href="/recipes/<%= recipeId %>/edit">
          <button data-testid="editar-receita">Editar Receita</button>
        </a>
        <a href="/recipes/<%= recipeId %>/delete">
          <button data-testid="excluir-receita">Excluir Receita</button>
        </a>
      </div>
      <%}%>
      <div>
        <h2><%= name %></h2>
        <span>Enviada por <%= user %></span>
        <h3>Ingredientes</h3>
        <ul>
          <% ingredients.split(',').map(ingredient => { %>
          <li><%= ingredient %></li>
          <%})%>
        </ul>
        <h3>Modo de Preparo</h3>
        <p><%= instructions %></p>
      </div>
    </div>
    <a href="/">
      <button type="button">Voltar</button>
    </a>
  </body>
</html>
